{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- EXTERNAL CSS FILE-->
    <link rel='stylesheet' href="{% static 'css/form.css' %}">

    <title>Forgot Password</title>
</head>
<body>
    <!--  NAVBAR  -->
    <nav class="navbar navbar-expand-lg "><h2>NewsApp</h2></nav>
    <div class ='box-model' style='margin-top: 100px;'>
        <h2>Forgot Password</h2><br><br>

        <!-- ERROR MESSAGE -->
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert" style="color:red">
                {{ message }}
            </div>
        {% endfor %}

        <!-- FORGOT PASSWORD FORM -->
        <form action='forgot-password' method="POST" >
            {% csrf_token %}
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Enter email" id="mail" name='username' required>
                <p id='mail_error' class='error'></p>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success btn-block " id='submit' value="Submit">
                <input type="reset" class="btn btn-danger btn-block " id='cancel' value="Cancel">
                <p id='error'></p>
            </div>
            <a href="login">Back to login</a>
        </form>
    </div>

</body>
</html>